---
layout: page
# The Curiculumvite of workss.
---
<div class="row active-with-click">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Primary">
            <h2>
                <span>David Menasche</span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Mělo to smysl?!
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="https://www.obalkyknih.cz/file/cover/1791413/preview510">
                </div>
                <div class="mc-description">
                    Učitelovo poslední putování za základními životními lekcemi. David Menasche se naplno věnoval práci středoškolského profesora angličtiny. Při výkladu navazoval se svými studenty jedinečné pouto...
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer social-icons">
                <h4>ISBN: 978-80-7321-833-1</h4>
                <a class="social-icon" target="_newtab" href="https://en.wikipedia.org/wiki/David_Menasche"><i class="fab fa-wikipedia-w"></i></a>
                <a class="social-icon" target="_newtab" href="https://obalkyknih.cz/view?isbn=9788073218331"><i class="fas fa-link"></i></a>
            </div>
        </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Primary">
            <h2>
                <span>Anders de la Motte</span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Game
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="https://www.obalkyknih.cz/file/cover/2134735/preview510">
                </div>
                <div class="mc-description">
                    Třicetiletý Henrik Pettersson, zvaný HP, se vrací z nočního tahu stockholmskou podzemní dráhou domů. Na sedadle proti němu leží mobilní telefon, který po chvíli zabliká a vyzve ho </br> WANNA PLAY GAME?
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer social-icons">
                <h4>
                   ISBN: 978-80-242-3923-1
                </h4>
                <a class="social-icon" target="_newtab" href="https://twitter.com/AndersdelaMotte"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" target="_newtab" href="https://www.youtube.com/watch?v=8ayG-ELX3JY"><i class="fab fa-youtube"></i></a>
                <a class="social-icon" target="_newtab" href="https://obalkyknih.cz/view?isbn=9788024239231"><i class="fas fa-link"></i></a>
            </div>
        </article>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <article class="material-card Primary">
            <h2>
                <span>Mordecai Richler</span>
                <strong>
                    <i class="fa fa-fw fa-book"></i>
                    Učňovská léta Duddyho Kravitze
                </strong>
            </h2>
            <div class="mc-content">
                <div class="img-container">
                    <img class="img-responsive" src="https://www.obalkyknih.cz/file/cover/1458979/preview510">
                </div>
                <div class="mc-description">
                    Chlap bez půdy je nula". Při své zarputilé honbě za majetkem se pouští do krkolomných čachrů a podvodů a přes všechny nezdary nikdy neztrácí víru, že jeho sen skutečně stojí za to. ...
                </div>
            </div>
            <a class="mc-btn-action">
                <i class="fa fa-bars"></i>
            </a>
            <div class="mc-footer social-icons">
                <h4>ISBN: 9788072035052</h4>
                <a class="social-icon" target="_newtab" href="https://cs.wikipedia.org/wiki/Mordecai_Richler"><i class="fab fa-wikipedia-w"></i></a>
                <a class="social-icon" target="_newtab" href="https://obalkyknih.cz/view?isbn=8072035053"><i class="fas fa-link"></i></a>
            </div>
        </article>
    </div>
</div>