---
layout: page
# The Curiculumvite of workss.
---

<div id="works" class="pl-xl-2">

{% for work in site.works %}
  {% capture this_year %}{{ work.startdate | start date: "%Y" }}{% endcapture %}
  {% capture pre_year %}{{ work.previous.date | date: "%Y" }}{% endcapture %}
  {% if forloop.first %}
    {% assign last_day = "" %}
    {% assign last_month = "" %}
  <span class="lead">{{this_year}}</span>
  <ul class="list-unstyled">
  {% endif %}
    <li>
      <div>
        {% assign ts = work.startdate | start date: '%s' %}
        <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ work.startdate | start date: "%d" }}</span>
        <span class="date month small text-muted" data-ts="{{ ts }}" data-df="MMM">
          {{ work.startdate | start date: '%m' }}
        </span>
        <a href="{{ work.url | relative_url }}">{{ work.company }}</a>
      </div>
    </li>
  {% if forloop.last %}
  </ul>
  {% elsif this_year != pre_year %}
  </ul>
  <span class="lead">{{pre_year}}</span>
  <ul class="list-unstyled">
    {% assign last_day = "" %}
    {% assign last_month = "" %}
  {% endif %}
{% endfor %}
</div>
  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
          <h3 class="mb-0">Livesport s.r.o.</h3>
          <div class="subheading mb-3">System specialist</div>
          <p>Support and Tools</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Září 2020 - dnes</span></div>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
          <h3 class="mb-0">OSVČ</h3>
          <div class="subheading mb-3">Fukjemi.cz</div>
          <p>Připojení zkazníků k internetu, správa IT infrastruktury malých a středních firem</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Březen 2017 - Září 2020</span></div>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
          <h3 class="mb-0">System Administrator</h3>
          <div class="subheading mb-3">Consovenio</div>
          <p>Správa infrastruktury, IT systémů a aplikací ve vývojové firmě.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Listopad 2018 - Leden 2020</span></div>
  </div>
  
  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
          <h3 class="mb-0">IT System Administrator</h3>
          <div class="subheading mb-3">Kuboušek EU holding a. s.</div>
          <p>Powershell, ActiveDirectory, Exchange, VMware, Hyper-V, Veeam, Nagios, Zyxel, UniFi, Uniflow, asterisk voip; VPN Instalace OS a SW. Řešení různorodých uživatelských problémů.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Srpen 2017 - Listopad 2018</span></div>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
          <h3 class="mb-0">Správce personální databáze</h3>
          <div class="subheading mb-3">Masarykův onkologický ústav</div>
          <p>Správa personálního systému Vema. Zpracování dat ze systému. Metodická pomoc se zadáváním dat. Správa plánovacího sw ShiftMaster. Správa lokalizačního sw Ekahau.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Leden 2016 - Červenec 2017</span></div>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
          <h3 class="mb-0">Dům dětí a mládeže</h3>
          <div class="subheading mb-3">Vedoucí zájmového kroužku - Lektor</div>
          <p>Vedení zájmového poznávacího kroužku jsem bral jako výsadu. Hlavním cílem pro mne bylo zaujmout a ukázat dětem, že počítače nejsou jen na hry. Že nesmějí věřit všemu co v nich vidí.</p>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">Září 2014 - Červen 2016</span></div>
  </div>